<div class="mt-2 p-2 bg-secondary text-white rounded">
<h1>Template Form</h1>
<p>using ngModel</p>

</div>
<div class="row">
  <div class="col-8">
    <form class="row g-3">

      <div class="col-md-4">
        <label for="validationDefault01" class="form-label">First name</label>
        <input type="text" class="form-control" name="firstName" [(ngModel)] = "studentObj.firstName">
      </div>
    
      <div class="col-md-4">
        <label for="validationDefault02" class="form-label">Last name</label>
        <input type="text" class="form-control" name="lastName" [(ngModel)] = "studentObj.lastName">
      </div>
    
      <div class="col-md-4">
        <label for="validationDefaultUsername" class="form-label">Username</label>
        <div class="input-group">
          <span class="input-group-text" id="inputGroupPrepend2">&#64;</span>
          <input type="text" class="form-control" name="userName"  [(ngModel)] = "studentObj.userName">
        </div>
      </div>
    
      <div class="col-md-6">
        <label for="validationDefault03" class="form-label">City</label>
        <input type="text" class="form-control" name="city"  [(ngModel)] = "studentObj.city">
      </div>
    
      <div class="col-md-3">
        <label for="validationDefault04" class="form-label">State</label>
        <select class="form-select" name="state"  [(ngModel)] = "studentObj.state">
          <option selected disabled value="">Choose...</option>
          <option>Karnataka</option>
          <option>Goa</option>
          <option>Chennai</option>
        </select>
      </div>
    
      <div class="col-md-3">
        <label for="validationDefault05" class="form-label" name="zipCode"  [(ngModel)] = "studentObj.zipCode">Zip</label>
        <input type="text" class="form-control" >
      </div>
    
      <div class="col-12">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" name="isAcceptTerms"  [(ngModel)] = "studentObj.isAcceptTerms">
          <label class="form-check-label" for="invalidCheck2">
            Agree to terms and conditions
          </label>
        </div>
      </div>
    
      <div class="col-12">
        <button class="btn btn-secondary" type="button">Reset form</button>
        <button class="btn btn-primary" type="submit" (click)="onSubmit()">Submit form</button>
      </div>
    </form>
  </div>
  <div class="col-4">
            {{formValue |json}}
  </div>
</div>
